*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 168, 226);
    
}
.login_form{
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    width: 300px;
    height: 410px;
    border-radius: 5px;
}
.login_form .login{
    display: flex;
    justify-content: center;
}
.login_form #form{
    margin-top: 20px;
}
.login_form fieldset{
    border: none;
    border: 2px solid rgb(138, 132, 132);
    border-radius: 3px;
    background-color: transparent;
    padding: 2px;
}
fieldset legend{
    margin-left: 5px;
    font-size: 15px;
    opacity: 0.8;
}
.active{
    opacity: 1;
}

fieldset input{
    width: 220px;
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 17px;
    background-color: transparent;
}
.login_form .show_password{
    display: flex;
    position: relative;
    bottom: 15px;
}
.show_password input{
    margin-left: 5px;
}
.login_form #invalid{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5px;
}
#invalid span{
    color: red;
}
.login_form button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(68, 68, 168);
    color: whitesmoke;
    cursor: pointer;
    margin-top: 5px;
}
/* .login_form #footer{
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 1px;
    margin-top: 10px;
} */
/* #footer legend{
    text-align: center;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    padding: 1px;
    border-radius: 5px;
} */
.login_form .signup_google{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.signup_google img{
    width: 30px;
    cursor: pointer;
}
/* .signup_google i{
    font-size: 30px;
    color: red;
    border: 2px solid red ;
    border-radius: 20px;
    cursor: pointer;
} */

.login_form .already{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.already p{
    font-size: 18px;
}
.already a{
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 2px;
}
.already .here{
    text-transform: capitalize;
}
button:active{
    background-color: blue;
}
.welcome_page{
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.welcome_page .welcome{
    background-color: black;
    color: white;
}
.Account{
    text-decoration: underline;
}
.welcome_page span{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.email-id{
    margin-top: 10px;
}
.email-id label{
    font-size: 20px;
}
.email-id p{
    border: 1px solid black;
    font-size: 20px;
    background-color: wheat;
}
.welcome_page .change_password{
    margin-top: 5px;
}
.change_password a{
    text-decoration: none;
    color: green;
}
.welcome_page button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(68, 68, 168);
    color: whitesmoke;
    cursor: pointer;
    margin-top: 30px;
}